<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DiscordBotToken" value=""/>
    <add key="SpreadsheetId" value="1lp7FAm_lLK7s3s_z2f-ERleyYK7DNfIyLzUj8tNKOUs"/>
    <add key="SheetsApiKey" value=""/>
    <add key="TestServerId" value=""/> <!--Only useful when compiled in Debug, Release doesn't use this setting-->
  </appSettings>
</configuration>